<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="app_key" value ="961b623b6f16f3d57352a086a10f252d"></add>
    <add key="app_id" value ="59ca3a9f"></add>
    <add key="url" value ="https://api.tfl.gov.uk/"></add>
  </appSettings>
</configuration>