<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="app_key" value ="your key"></add>
    <add key="app_id" value ="your id"></add>
    <add key="url" value ="https://api.tfl.gov.uk/"></add>
  </appSettings>
</configuration>